#body{
	background-color: pink;
	padding-top: 60px;
	border-left: 40px solid pink;
	border-right: 40px solid pink;
}
#search
{
	padding: 5px 9px;
	height: 35px;
	width: 200;
	border: 1px solid #a4c3ca;
	font: normal 13px 'trebuchet MS', arial, helvetica;
	background: #f1f1f1;
	
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}
nav{
	padding-top: 10px;
	padding-left: 12%;
}
footer{
	text-align: center;
	font-size: 18pt;
	background-image: url('css/back.jpg');
}
#pogi{
	color: BLACK;
	margin-right: 10px;
}
.foot{
	margin-top: 10px;
}
#cocz{
	border: 1px solid black;
	border-radius: 20px;
	font-size: 9pt;
}
#kokey{
	width: 70%;
	height: 30%;
}
.align{
	text-align: justify;
}
